*/ny_postgres_postgres_data
*/mi_entorno_week1
*/yellow_tripdata_2021-01.csv
*/DockerComposeRefactoring/volumen_postgres
*/DockerComposeRefactoring/ny_postgres_postgres_data
*/GCP_Terraform/projectonleali-649724cf41f9.json
*/EjemploIngestaData/yellow_tripdata_2021-01.csv